<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span>Enter your name</span>
    <br>
    <input type="text">
    <button>Confirm
    </button>
    <br>
    <br>
    <span>Choose your option</span>
    <br>
    <button id="rock">Rock</button>
    <button id="paper">Paper</button>
    <button id="scissors">Scissors</button>
    <br>
    <br>
    <span>Your result:</span>
    <span id="result_player"></span>
    <br>
    <span>Computer result:</span>
    <span id="result_comp"></span>
    <br>
    <span id="outcome"></span>
    <br><br>
    <span>Your win streak:</span>
    <span id="Streak_nr"> {{leaderboard_front}} </span>
    <br>
    <br>
    <button id="replay">Replay</button>
</body>
</html>